h1 {
    color: lightskyblue;
    background: crimson;
}
p {
    color: dimgrey;
}
h2 {
     color: lightskyblue;
     background: crimson;
 }
h3 {
    color: lightskyblue;
    background: crimson;
}
th {
    background-color: palegoldenrod;
}

